<script>
import { Bar,mixins  } from 'vue-chartjs'
const { reactiveProp } = mixins
export default {
  name: 'SalesChart',
  props: ['options','chart'],
  mixins: [reactiveProp],
  data: function() {
    return {
    }
  },  
  methods:{
  },
  extends: Bar,
  mounted () {
    // Overwriting base render method with actual data.
    this.renderChart(this.chart, this.options)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
