<template>
  <div id="app">
    <el-container>
      <el-header>Histogram on stock data</el-header>
        <el-container>
          <el-main>
            <el-row>
              <el-col :span="8">
                <div class="block">
                  <span class="demonstration">Select the symbol : </span>
                  <el-select @change="changeHandler" v-model="selected_sym" placeholder="Select">
                      <el-option
                        v-for="item in symbols"
                        :key="item.value"
                        :label="item.text"
                        :value="item.value">
                      </el-option>
                    </el-select>                  
                </div>
              </el-col>
              <el-col :span="16">
                <div class="block">
                  <span class="demonstration">Time duration : </span>
                  <el-time-picker @change="changeHandler"
                    is-range
                    v-model="s_e"
                    range-separator="To"
                    :picker-options="{selectableRange: '09:30:00 - 11:50:00'}"    
                    start-placeholder="Start time"
                    end-placeholder="End time">
                  </el-time-picker>
                </div>
              </el-col>
            </el-row>
            <el-row class="histogram">
              <el-col :span="5">
                  <div class="histogram-empty">
                    
                  </div>
              </el-col>
              <el-col :span="14">
                  <h2 v-if="isNodata">No data</h2>
                  <sales-chart v-else :width=800 :height=360 :chart="datacollection"  :options="options" :chart-data="datacollection" ></sales-chart>
              </el-col>
              <el-col :span="5">
                  <div class="histogram-empty">
                      
                  </div>
              </el-col>              
            </el-row>        
          </el-main>
          <el-footer>© Trugo 2018</el-footer>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import SalesChart from './components/SalesChart.vue'
import Papa from 'papaparse'
import moment from 'moment'
export default {
  name: 'app', 
  mounted () {
    const that = this
    Papa.parse('/data.csv', {
      download :true,
      header: true,
      complete (results) {
        const _Symbol = {}
        for(var item in results.data){
          results.data[item]["time"] = Math.round( (moment(results.data[item]["time"], 'HH:mm:ss')).format('HHmmss'))
          _Symbol[results.data[item]["sym"]] = results.data[item]["sym"]
        }
        for(var sym in _Symbol){
          if(sym !== "undefined"){
            
            that.symbols.push({'value':sym, 'text': sym})
          }
          
        }
        that.chartData = results.data

      },
      error () {
        
      }
    })
  },
  methods: {
    changeHandler: function() {
      if(this.chartData.length != 0){
        if(this.selected_sym != null){
          var st = Math.round(moment(this.s_e[0]).format('HHmmss'))
          var et = Math.round(moment(this.s_e[1]).format('HHmmss'))
          const filtered = this.chartData.filter(n => n.sym===this.selected_sym && (n.time > st && n.time < et) )
          var volumns = {}
          if(filtered.length != 0){

            this.isNodata = false
            for(var item in filtered){
              var price = filtered[item]["price"]
              if(volumns[price] === undefined ){
                volumns[price] = Math.round(filtered[item]["size"])
              }
              else{
                volumns[price] = volumns[price] + Math.round(filtered[item]["size"])
              }
              
            }
            var labels = []
            var data = []
            if(labels.length < 10){
              this.options.scales.yAxes[0].ticks.stepSize = 0.1
            }else{
              this.options.scales.yAxes[0].ticks.stepSize = 0.04
            }
            for(var volumn in volumns){
              labels[labels.length] = volumns[volumn]
              data[data.length] = volumn
            }
            this.datacollection = {
                labels: labels,
                datasets: [
                  {
                    label: 'For',
                    backgroundColor: '#f87979',
                    data:  data
                  }
                ]
            }
          }
          else{
            this.isNodata = true
            this.datacollection = {
                labels: [1],
                datasets: [
                  {
                    label: 'For',
                    backgroundColor: '#f87979',
                    data:  []
                  }
                ]              
            }
          }

          
        }

        
      }
    }    
  },
  data: function() { 
    return {
      s_e: [new Date(2018, 8, 22, 9, 30), new Date(2018, 8, 22, 9, 32)],
      chartData : [],
      isNodata : true,
      symbols : [{'value':'', 'text': 'Select'}],
      selected_sym : null,
      delta : '0.1',
      options:{
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: false,
              stepSize: 0.04        
						},
						gridLines: {
							display: false
						}
					}],
					xAxes: [{
						ticks: {
							beginAtZero: false
						},
						gridLines: {
							display: false
						}
					}]
				},
				legend: {
					display: false
				},        
        responsive: false, 
        maintainAspectRatio: true
      },      
      datacollection : null
    }
  },
  components: {
    SalesChart
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.el-row canvas{
  display:unset !important;
}
.el-header {
  font-size: 1.5em;
  text-transform: uppercase;
}
.el-header, .el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 60px;
}
.histogram{
  margin-top:70px;
}
.histogram-empty{
  height:200px;
}
.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  height:550px;
}
body{
  margin:0px auto;
}
</style>
